@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

@layer components {
  .center-items {
    @apply flex justify-center items-center flex-col;
  }
}

.popup-content {
  margin: auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.96);
  width: 70%;
  height: 65%;
  padding: 5px;
  
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}